<tr>
  <td class="title"><%= link_to post.title, post_path(post, post) %></td>
  <td class="category"><%= post.category %></td>
  <td class="date"><%= post.date %></td>
  <td class="actions">
    <%= link_to 'Edit', edit_admin_post_path(post) %>
    <%= link_to 'Destroy', admin_post_path(post), confirm: 'Are you sure?', method: :delete %>
  </td>
</tr>